.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
.container-category {
    display: flex;
    margin: 100px 50px 0 50px;
    width: 400px;
    flex-direction: column; 
    align-items: center;/* Permite que los elementos se envuelvan a la siguiente línea */
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.2);
}
h2{
    margin-top: 15px;
}
.card-category { 
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title{
    font-size: 18px;
}


.container-product {
    display: flex;
    margin: 100px 50px 0 50px;
    width: 500px;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.2);
}

.card-product {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.prod-info {
    display: flex;
    flex-direction: column; 
}

.name-price {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    height: 25px;
}

.p-description {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit; 
  }
@media only screen and (max-width: 768px) {
    .container {
        padding: 20px; 
    }

    .container-category {
        width: 80%; 
    }

    .container-product {
        width: 90%; 
    }

    .card-product{
        width: 70%;
    }

    .p-description{
        width: 70%;
    }
}