<footer>
    <p class="copyright">© 2024 Todos los derechos reservados</p>
    <div class="social-media">
        <div>
            <mat-icon class="social-item" aria-hidden="false" aria-label="Example home icon" fontIcon="email">email</mat-icon>
            <p class="info">ejais58@gmail.com</p>
        </div>
        <div>
            <mat-icon class="social-item" aria-hidden="false" aria-label="Example home icon" fontIcon="phone">smartphone</mat-icon>
            <p class="info">3835-412947</p>
        </div>
    </div>
</footer>
